<form action="/sessions" method="post">
  <label> Username
    <input name="user" type="text"/>
  </label>
  <label> Password
    <input type="password" name="password" />
  </label>
  <input type="submit" value="Submit"/>
</form>