<div id="chat-window">
  <div id="chat-menu" class="col-12"></div>
  <div id="channel-viewport"></div>
</div>

<script type="text/template" id="menu-template">
<div id="heading">
  &nbsp;
</div>
<ul class="chat-room-list">
  <!--<li class="add-channel"><span class="channel-menu-button"><div class="glyphicons circle_plus"><i></i></div></span></li>-->
</ul>
</script>

<script type="text/template" id="channel-tab-template">
  <div class="room-status-icon"><div class="glyphicons conversation"><i></i></div></div>
  <div class="room-name">{{ name }}</div>
</script>

<script type="text/template" id="channel-template">
  <div id="chat-log-container" class="col-10">
    <ul id="chat-log"></ul>
  </div>
  <ul id="user-list" class="col-2">
  <li></li>
  </ul>
  <form id="new-message" class="col-10"></form>
</script>

<script type="text/template" id="new-message-template">
  <div class="new-message-input">
    <pre><span></span><br></pre>
    <textarea></textarea>
  </div>
</script>

<script type="text/template" id="system-message-template">
  <div class="message-time">{{ time }}</div>
  <div class="system-message">{{{ message }}}</div>
</script>

<script type="text/template" id="message-template">
  <div class="timestamp">{{timeString timestamp}}</div>
  <span class="nickname">{{ nickname }}:</span>
  <span class="message-content">{{{ content }}}</span>
</script>