<div id="chat-window" class="col-9">
  <div id="chat-menu" class="col-12"></div>
  <div id="channel-viewport">
    <h1>Welcome to Shep.info</h1>

    <div id="login-panel">
      <h3>Sign Up</h3>

      <p>
        <input class="nickname-input" tabindex="1" type="text" placeholder="nickname"/>
        <span class="nickname-status"></span>
        No spaces, names must be between 3 and 32 characters.
      </p>

      <p>
        <input id="password-input" type="password" placeholder="password"/>
        <input id="password-confirm" type="password" placeholder="retype password"/>
        <div class="password-status"></div>
      </p>

      <button class="signup-button">signup</button>
    </div>
  </div>
</div>