<div id="chat-window" class="col-9">
  <div id="chat-menu" class="col-12"></div>
  <div id="channel-viewport">
    <h1>Welcome to Shep.info</h1>
<p>
    <a href="#" class="signup-link">Sign Up</a>
    <a href="#" class="signin-link">Log In</a>
</p>
    <div id="login-panel"></div>

    <p>Lemme know if you&rsquo;ve got questions</p>
  </div>
</div>

<script type="text/template" id="sign-up-template">
  <p>
    <input class="nickname-input" tabindex="1" type="text" placeholder="nickname"/>
    <span class="nickname-status"></span>
    No spaces, names must be between 3 and 32 characters.
  </p>

  <p>
    <input id="password-input" type="password" placeholder="password" tabindex="2"/>
    <input id="password-confirm" type="password" placeholder="retype password" tabindex="3"/>
    <div class="password-status"></div>
  </p>

  <button class="signup-button" tabindex="4">Sign Up</button>
</script>

<script type="text/template" id="sign-in-template">
  <p>
    <input class="nickname-input" tabindex="1" type="text" placeholder="nickname"/>
  </p>

  <p>
    <input id="password-input" type="password" placeholder="password" tabindex="2"/>
  </p>

  <button class="signin-button" tabindex="3">Sign In</button>
</script>