<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= title %></title>
  <link href="http://sklise.s3.amazonaws.com/pictos/pictos.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/style.css">

  <script type="text/javascript" src="/js/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="/js/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="/js/vendor/backbone-min.js"></script>
  <script type="text/javascript" src="/js/vendor/handlebars.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <script src="/js/helpers.js"></script>
  <script src="/js/models.js"></script>
  <script src="/js/collections.js"></script>

  <script src="/js/views/appview.js"></script>
  <script src="/js/views/chatview.js"></script>

  <script src="/js/routers.js"></script>
  <script type="text/javascript" src="/js/calendar.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>
<body>
  <div id="wrapper"><%- body %></div>
</body>
</html>