<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/chat-menu.css">
  <link rel="stylesheet" href="/css/grid.css">

  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <%- js('application') %>

  <link href="http://sklise.s3.amazonaws.com/pictos/pictos.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="wrapper"><%- body %></div>
</body>
</html>