#chat-menu {
  padding-top: 5px;
  clear: both;
  overflow-y: auto;
}

#heading {
  background-image: url("/images/shep.png");
  background-image: url("/images/shep.svg");
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  position: relative;
  display: block;
  width: 3em;
  height: 3em;
  float: left;
  margin-right: 1em;
}

.chat-room-list {
  display: inline-block;
  overflow-y: hidden;
}

.chat-room-list li {
  float: left;
  padding: 1em 1em 0.8em;
  text-transform: uppercase;
}

.chat-room-list li:hover {
  background-color: #dbd7d4;
  cursor: pointer;
}

.chat-room-list li div {
  display: inline-block;
}

.chat-room-list li.current-channel,
.chat-room-list li.current-channel .glyphicons i:before {
  background-color: #006ed6;
  color: white;
}

.chat-room-list li.current-channel .underline {
  visibility: hidden;
}

.chat-room-list li.current-channel::after, .chat-room-list li:hover::after {
  background-repeat: no-repeat;
  background-position-x: 50%;
  content: " ";
  display: block;
  height: 14px;
  position: absolute;
  bottom: -14px;
  z-index: 5;
  width: 100%;
  height: 14px;
  left: 0; }

.underline {
  background: url("/images/new-status-indicator.png");
  background-repeat: no-repeat;
  display: block;
  height: 4px;
  left: 0;
  margin: -2px auto 0;
  position: absolute;
  right: 0;
  width: 20px; }

.room-status-icon {
  display: inline;
  position: relative;
  width: 16px;
  height: 16px;
}

.exitable-room:hover {
  color: #f03528;
}

.channel-menu-button img {
  width: 16px;
}