/*
Syntax error: File to import not found or unreadable: toolbars.
              Load paths:
                /Users/sklise/ITP/Thesis/itpirl
                /Users/sklise/ITP/Thesis/itpirl/lib/sass
        on line 123 of lib/sass/style.scss

118:   font-size: modular-scale(2, $alt-size, $golden);
119:   line-height: modular-scale(2, $base-size, $golden);
120:   overflow-y: auto;
121: }
122: 
123: @import 'toolbars';
124: 
125: #content {
126:   clear: both;
127: }
128: 

Backtrace:
lib/sass/style.scss:123
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/import_node.rb:42:in `import'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:284:in `block (4 levels) in watch'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `call'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:39:in `delete'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in deleted'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:31:in `deleted'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm.rb:70:in `monitor'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:265:in `watch'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin.rb:107:in `method_missing'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:431:in `watch_or_update'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:302:in `process_result'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:41:in `parse'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:21:in `parse!'
/Users/sklise/.rbenv/versions/1.9.3-p0/lib/ruby/gems/1.9.1/gems/sass-3.1.15/bin/sass:8:in `<top (required)>'
/Users/sklise/.rbenv/versions/1.9.3-p0/bin/sass:19:in `load'
/Users/sklise/.rbenv/versions/1.9.3-p0/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: toolbars.\A               Load paths:\A                 /Users/sklise/ITP/Thesis/itpirl\A                 /Users/sklise/ITP/Thesis/itpirl/lib/sass\A         on line 123 of lib/sass/style.scss\A \A 118:   font-size: modular-scale(2, $alt-size, $golden);\A 119:   line-height: modular-scale(2, $base-size, $golden);\A 120:   overflow-y: auto;\A 121: }\A 122: \A 123: @import 'toolbars';\A 124: \A 125: #content {\A 126:   clear: both;\A 127: }\A 128: "; }
