html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

/* Calendar colors */
.pictos {
  font-family: "Pictos"; }

body {
  font-family: "myriad-pro", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  background-color: white;
  margin: 0 auto;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "colaborate", "Helvetica Neue", "Helvetica", sans-serif; }

h1 {
  font-size: 69px;
  font-weight: 600;
  line-height: 83px; }

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin: 0.5em 0; }

h3 {
  font-size: 26px;
  line-height: 32px; }

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin: 0.5em 0; }

a {
  color: #006ed6; }

#wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1258px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "myriad-pro", "Helvetica Neue", "Helvetica", sans-serif;
  clear: both;
  overflow: auto; }

#menu-window {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 8px;
  float: left;
  width: 354px;
  max-height: 100%;
  overflow-y: scroll;
  padding-top: 16px;
  position: relative; }

#heading {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("http://shep.info.s3.amazonaws.com/shep.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: 354px 169px;
  -moz-background-size: 354px 169px;
  background-size: 354px 169px;
  height: 169px;
  padding-left: 185px;
  padding-top: 95px;
  position: relative; }

.feedback-button {
  height: 24px;
  margin: 4px 0; }

.feedback-button:hover {
  color: #006ed6;
  cursor: pointer; }

.feedback-send {
  clear: both;
  display: block; }

#feedback {
  position: relative; }
  #feedback label {
    clear: both;
    display: block;
    font-size: 12px; }

.introduction {
  margin: 1em 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .introduction p {
    font-size: 13px;
    line-height: 18px;
    margin: 0.5em 0 0.6em; }

#tips {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffeec3;
  font-size: 12px;
  line-height: 12px;
  padding: 0.75em 1.5em; }

#footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 0;
  color: #dbd7d4;
  font-size: 11px;
  line-height: 11px;
  padding: 1em 0;
  position: absolute; }
  #footer a {
    color: #dbd7d4; }

.icon {
  display: inline; }

#chat-window {
  float: left;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  position: relative;
  height: 600px;
  width: 888px; }

#loading-screen {
  margin: 25% auto;
  width: 300px; }

#chat-toolbar {
  width: auto;
  margin: 0 -8px;
  margin: 0 8px;
  float: left;
  width: 872px;
  margin-bottom: -14px; }

.chat-room-list li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 14px;
  padding: 1em 1em 0.8em;
  position: relative; }
  .chat-room-list li .room-name {
    text-transform: uppercase; }
  .chat-room-list li:hover {
    background-color: #dbd7d4;
    cursor: pointer; }
  .chat-room-list li div {
    float: left; }
  .chat-room-list li.current-channel {
    background-color: #006ed6;
    color: white; }
    .chat-room-list li.current-channel .underline {
      visibility: hidden; }
  .chat-room-list li.current-channel::after {
    background-image: url("/images/room-indicator.png"); }
  .chat-room-list li.current-channel::after, .chat-room-list li:hover::after {
    background-repeat: no-repeat;
    background-position-x: 50%;
    content: " ";
    display: block;
    height: 14px;
    position: absolute;
    bottom: -14px;
    z-index: 5;
    width: 100%;
    height: 14px;
    left: 0; }

.underline {
  background: url("/images/new-status-indicator.png");
  background-repeat: no-repeat;
  display: block;
  height: 4px;
  left: 0;
  margin: -2px auto 0;
  position: absolute;
  right: 0;
  width: 20px; }

.room-status-icon {
  background: transparent url("http://shep.info.s3.amazonaws.com/236.png") no-repeat center;
  display: inline;
  position: relative;
  width: 16px;
  height: 16px; }
  .room-status-icon.shep-icon {
    background-image: url("http://shep.info.s3.amazonaws.com/shep16.png"); }

.current-channel .room-status-icon {
  background-image: url("http://shep.info.s3.amazonaws.com/236white.png"); }
  .current-channel .room-status-icon.shep-icon {
    background-image: url("http://shep.info.s3.amazonaws.com/shep16.png"); }

.shep-icon {
  background-image: url("/images/shep.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  display: block;
  width: 16px;
  height: 16px; }

.room-status-icon, .shep-icon {
  margin-right: 4px; }

.room-name {
  position: relative; }

.exitable-room:hover {
  color: #f03528; }

.room-menu-icon {
  font-size: 20px; }

.chat-room-list li.channel-menu-button {
  margin-top: -2px;
  margin-bottom: -2px; }

.channel-menu-button img {
  width: 20px; }

#chat-log-container {
  margin: 0 8px;
  float: left;
  width: 872px;
  height: 500px;
  overflow-y: scroll;
  position: relative; }

#user-list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffeec3;
  color: #777777;
  padding: 0.55em;
  position: absolute;
  right: 0;
  top: 0;
  margin: 37px 0.9009009% 0;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Width: (21n + 16(n-1)) / 888 = 95 / 888, n=4 */
  width: 14.8648649%; }

.chat-log {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f8ff;
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.4em 0 1em; }

.chat-log li {
  width: auto;
  margin: 0 -8px;
  overflow-y: auto;
  padding: 1em 0 0.3em;
  position: relative;
  word-wrap: break-word; }
  .chat-log li.system-notice {
    padding: 0.2em 0; }
  .chat-log li.consecutive {
    padding: 0.2em 0; }
    .chat-log li.consecutive .chatter {
      opacity: 0; }
  .chat-log li:hover .message-time {
    opacity: 1; }
  .chat-log li.self .chatter {
    color: #110df5; }
  .chat-log li.shep {
    background: rgba(95, 206, 237, 0.3); }
    .chat-log li.shep .chatter {
      color: #db8c3d; }
  .chat-log li.system-notice, .chat-log li.previous-message {
    background-color: #f6f8ff;
    color: gray;
    font-style: italic; }

.message-time {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f5f8ff;
  display: block;
  font-size: 11px;
  font-style: normal;
  line-height: 11px;
  opacity: 0;
  padding: 0.2em 0.3em 0.15em;
  position: absolute;
  right: 16%;
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out; }

.chatter,
.message,
.system-message {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.chatter {
  float: left;
  font-size: 110%;
  line-height: 110%;
  margin: 0 0.9009009%;
  width: 19.0315315%;
  font-weight: bold;
  overflow: hidden;
  text-align: right; }

span.chatter {
  display: inline;
  width: auto; }

.message,
.system-message {
  float: left;
  margin: 0 0.9009009%;
  padding-right: 10.6981982%;
  /* n=18 (21*n+16*(n-1)) / 888 */
  width: 73.1982%; }

.system-message,
.action {
  margin-left: 193px; }

.action {
  font-style: italic; }

#new-message {
  margin: 0 8px;
  float: left;
  width: 872px;
  background-color: #fafcff;
  border-top: 2px solid #dbd7d4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.new-message-input {
  margin: 0 8px;
  float: left;
  width: 650px;
  -webkit-appearance: none;
  -moz-appearance: none;
  resize: none;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: #efefef;
  padding: 0.5em 0.5em; }
  .new-message-input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border: 1px solid blue; }

.chat-name {
  background: transparent url("http://shep.info.s3.amazonaws.com/140.png") right center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0.5em 1.3em 0.5em 0.5em;
  resize: none;
  text-align: right; }

.new-message-input,
.chat-name {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  .new-message-input:focus,
  .chat-name:focus {
    cursor: blink;
    outline: none; }

#dialog {
  position: fixed;
  left: 50%;
  top: 150px;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #eee;
  background: white;
  z-index: 1000; }

#dialog .content {
  padding: 15px 20px; }

#dialog h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal; }

#dialog p {
  margin: 0;
  padding: 0;
  font-size: .9em; }

#dialog.modal {
  box-shadow: 0 1px 8px 0 black; }

/* close */
#dialog .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none; }

#dialog.closable .close {
  display: block; }

#dialog .close:hover {
  color: black; }

#dialog .close:active {
  margin-top: 1px; }

/* slide */
#dialog.slide {
  -webkit-transition: opacity 300ms, top 300ms;
  -moz-transition: opacity 300ms, top 300ms; }

#dialog.slide.hide {
  opacity: 0;
  top: -500px; }

/* fade */
#dialog.fade {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms; }

#dialog.fade.hide {
  opacity: 0; }

/* scale */
#dialog.scale {
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1); }

#dialog.scale.hide {
  -webkit-transform: scale(0);
  -moz-transform: scale(0); }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 300ms;
  z-index: 500; }

#overlay.hide {
  pointer-events: none;
  opacity: 0; }

.confirmation .actions {
  border-top: 1px solid #eee;
  padding: 5px;
  text-align: right;
  background: #fafafa;
  box-shadow: inset 0 1px 0 white; }

.color-picker canvas {
  border: 1px solid #888; }

.color-picker canvas:active {
  cursor: none; }

#notifications {
  position: fixed;
  top: 10px;
  right: 15px; }

#notifications li {
  margin-bottom: 5px;
  list-style: none; }

.notification {
  position: relative;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #eee;
  background: white;
  z-index: 100; }

.notification .content {
  padding: 15px 20px; }

.notification h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal; }

.notification p {
  margin: 0;
  padding: 0;
  font-size: .9em; }

.notification .close {
  position: absolute;
  top: 5px;
  right: 10px;
  text-decoration: none;
  color: #888;
  display: none; }

.notification.closable .close {
  display: block; }

.notification .close:hover {
  color: black; }

.notification .close:active {
  margin-top: 1px; }

/* close */
.notification .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none; }

/* slide */
.notification.slide {
  -webkit-transition: opacity 300ms, top 300ms;
  -moz-transition: opacity 300ms, top 300ms; }

.notification.slide.hide {
  opacity: 0;
  top: -500px; }

/* fade */
.notification.fade {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms; }

.notification.fade.hide {
  opacity: 0; }

/* scale */
.notification.scale {
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -webkit-transform: scale(1);
  -moz-transform: scale(1); }

.notification.scale.hide {
  -webkit-transform: scale(0);
  -moz-transform: scale(0); }

.split-button {
  display: inline-block;
  border: 1px solid #eee; }

.split-button a {
  display: inline-block;
  float: left;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none; }

.split-button .toggle {
  border-left: 1px solid #eee; }

.split-button .toggle span {
  display: block;
  margin-top: 8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #888; }

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2); }

.menu li {
  list-style: none; }

.menu li a {
  display: block;
  padding: 5px 30px 5px 12px;
  text-decoration: none;
  border-top: 1px solid #eee;
  color: #2e2e2e; }

.menu li:first-child a {
  border-top: none; }

.menu li a:hover {
  background: #f1faff; }

/* from: http://desandro.github.com/3dtransforms */
.card {
  width: 200px;
  height: 260px;
  position: relative;
  perspective: 800; }

.card .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  -moz-transition: -moz-transform 500ms ease-in-out;
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 0 white, 0 1px 4px 0 #dddddd;
  -moz-box-shadow: inset 0 -1px 0 0 white, 0 1px 4px 0 #dddddd; }

.card .face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden; }

.card .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); }

.card.flipped .wrapper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); }

/* sideflip effect */
.card.sideflip .wrapper {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center; }

.card.sideflip.flipped .wrapper {
  -webkit-transform: translateX(-100%) rotateY(180deg);
  -moz-transform: translateX(-100%) rotateY(180deg); }
