/* RESET
_____________________________________________________________________________*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 100%;
  margin: 0;
  padding: 0; }

body, div, p, h1, h2, h3, h4, h5, h6, pre, img, ol, ul, li, form, fieldset,
label, table, article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  list-style: none;
}

/* END RESET
_____________________________________________________________________________*/
/* Calendar colors */
.pictos {
  font-family: "Pictos"; }

body {
  font-family: "myriad-pro", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 100%;
  line-height: 1em;
  background-color: white;
  margin: 0 auto;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "source sans pro", "Helvetica Neue", "Helvetica", sans-serif; }

h1 {
  font-size: 69px;
  font-weight: 600;
  line-height: 83px; }

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin: 0.5em 0; }

h3 {
  font-size: 26px;
  line-height: 32px; }

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin: 0.5em 0; }

a {
  color: #006ed6; }

#wrapper {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "myriad-pro", "Helvetica Neue", "Helvetica", sans-serif;
  clear: both;
  overflow: auto; }

#menu-window {
  margin-top: 0.75em;
  max-height: 100%;
  overflow-y: scroll;
}

#heading {
  background-image: url("/images/shep.png");
  background-image: url("/images/shep.svg");
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 12em;
  position: relative;
}

.introduction {
  margin: 1em 0; }
  .introduction p {
    font-size: 13px;
    line-height: 18px;
    margin: 0.5em 0 0.6em; }

/* CALENDAR WIDGET
_____________________________________________________________________________*/
#calendar h3 {
  border-bottom: 2px solid #fbe648; }

#calendar ul {
  display: block;
  height: 240px;
  position: relative;
  overflow-y: scroll; }

#calendar li {
  background-color: #eee;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #fff;
  font-size: 0.8rem;
  line-height: 1.2em;
  padding: 0.6em 0.5em; }

#calendar li:first-child {
  border-top: none; }

#calendar a {
  text-decoration: none; }

#calendar .when {
  color: #555;
  display: block;
  font-size: 0.75rem; }

/* END CALENDAR WIDGET
_____________________________________________________________________________*/
#footer {
  color: #dbd7d4;
  font-size: 0.7rem;
  line-height: 0.7rem;
  padding: 1em 0; }

#footer a {
  color: #dbd7d4; }

.icon {
  display: inline; }


#chat-window {
  height: 600px;
}


#chat-log {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.4em 0 1em; }

#chat-log li {
  width: auto;
  overflow-y: auto;
  position: relative;
  display: block;
  word-wrap: break-word;
}

  #chat-log li.system-notice {
    padding: 0.2em 0; }
  #chat-log li.consecutive {
    padding: 0.2em 0; }
    #chat-log li.consecutive .chatter {
      opacity: 0; }
  #chat-log li.action.consecutive {
    padding: 1em 0 0.3em; }
    #chat-log li.action.consecutive .chatter {
      opacity: 1; }
  #chat-log li.self .chatter {
    color: #110df5; }
  #chat-log li.shep {
    background: rgba(95, 206, 237, 0.3); }
    #chat-log li.shep .chatter {
      color: #db8c3d; }
  #chat-log li.system-notice, #chat-log li.previous-message {
    background-color: #f6f8ff;
    color: gray;
    font-style: italic; }

.timestamp {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f5f8ff;
  display: block;
  font-size: 11px;
  font-style: normal;
  line-height: 11px;
  opacity: 0;
  padding: 0.2em 0.3em 0.15em;
  position: absolute;
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

li:hover .timestamp {
  opacity: 1;
}

div.chatter {
  font-size: 110%;
  margin: 0 0.9009009%;
  font-weight: bold;
  overflow: hidden;
  text-align: right;
}

span.chatter {
  display: inline;
  width: auto;
}

.system-message,
.action-message {
  margin-left: 193px; }

.action {
  font-style: italic;
}

/* from http://www.alistapart.com/articles/expanding-text-areas-made-elegant/ */
.new-message-input {
  position: relative;
  border: 1px solid #888;
  background: #fff; }
  .new-message-input textarea,
  .new-message-input pre {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0.5em;
    background: transparent;
    font: 400 13px/16px "source code pro", monospace;
    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word; }
  .new-message-input textarea {
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px; }
  .new-message-input.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none; }
  .new-message-input > pre {
    display: none; }
  .new-message-input.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden; }

/* CHAT WINDOW
_____________________________________________________________________________*/
#chat-window {
  font-family: "source code pro", "Menlo", "Monaco", monospace;
  font-size: 75%;
  color: #000;
  line-height: 1.6em;
  vertical-align: baseline;
}

#channel-viewport {
  clear: both;
  overflow: auto;
}

.nickname-prompt input,
.nickname-prompt button {
  font-size: 30px;
  padding: 0.2em;
}



/* CHANNEL

*/

#chat-log-container {
  background-color: #f5f8ff;
  border: #b6c0d8 1px solid;
  overflow-y: scroll;
  position: relative;
}

#new-message {
  background-color: #fafcff;
  border-top: 2px solid #dbd7d4;
  padding: 0;
}

.new-message-input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: #efefef;

  margin-top: 0.25em;
  margin-bottom: 0.25em;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
}

.new-message-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #ffffff;
  border: 1px solid blue;
  cursor: blink;
  outline: none;
}

.new-message-input,
.chat-name {
  border: 1px solid transparent;
}

#user-list {
  color: #777777;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-name {
  background: transparent url("http://shep.info.s3.amazonaws.com/140.png") right center;
  background-repeat: no-repeat;
  overflow: hidden;
  resize: none;
}