#chat-window {
  float: left;
  height: 600px;
  width: grid-width(24,$gutter-width);
}

#loading-screen {
  margin: 25% auto;
  width: 300px;
}

#chat-toolbar {
  @include grid-row;
  @include grid-column(24);
  margin-bottom: -14px;
}

.chat-room-list {

  li {
    float: left;
    margin-bottom: 14px;
    padding: 1em 1em 0.8em;

    .room-name {
      text-transform: uppercase;
    }

    &:hover {
      background-color: $divider-dark-gray;
      cursor: pointer;
    }

    div {
      float: left;
    }

    &.current-channel {
      background-color: $bright-blue;
      color: $white;

      .underline {
        visibility: hidden;
      }
    }

    &.current-channel::after {
      background-image: url('/images/room-indicator.png');
    }

    &.current-channel::after,
    &:hover::after {
      background-repeat: no-repeat;
      background-position-x: 50%;
      content: " ";
      display: block;
      height: 14px;
      position: absolute;
      bottom: -14px;
      z-index: 5;
      width: 100%;
      height: 14px;
      left: 0;
    }

  }
}

// Indicator for updates in rooms.
.underline {
  background: url('/images/new-status-indicator.png');
  background-repeat: no-repeat;

  display: block;
  height: 4px;
  left: 0;
  margin: -2px auto 0;
  position: absolute;
  right: 0;
  width: 20px;
}

.room-status-icon {
  background: transparent url('http://shep.info.s3.amazonaws.com/236.png') no-repeat center;
  display: inline;
  position: relative;
  width: ms(2, $base-size, $golden);
  height: ms(2, $base-size, $golden);

  &.shep-icon {
    background-image:url('http://shep.info.s3.amazonaws.com/shep16.png');
  }
}

.current-channel .room-status-icon {
  background-image:url('http://shep.info.s3.amazonaws.com/236white.png');

  &.shep-icon {
    background-image:url('http://shep.info.s3.amazonaws.com/shep16.png');
  }
}

.shep-icon {
  background-image: url('/images/shep.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  display: block;
  width: ms(2, $base-size, $golden);
  height: ms(2, $base-size, $golden);
}

.room-status-icon, .shep-icon {
  margin-right: 4px;
}

.room-name {
  position: relative;
}

.exitable-room {
  &:hover {
    color: $red;
  }
}

.room-menu-icon {
  font-size: ms(3, $base-size, $golden);
}

.chat-room-list li.channel-menu-button {
  margin-top: -2px;
  margin-bottom: -2px;
}

.channel-menu-button img {
  width: 20px;
}

// CHAT LOG CONTAINER
//----------------------------------------------------
#chat-log-container {
  @include grid-column(24);
  height: 500px;
  overflow-y: scroll;
  position: relative;
}

// USER LIST
//----------------------------------------------------
#user-list {
  background-color: $highlight-yellow;
  color: rgb(119,119,119);
  padding: 0.55em;
  position: absolute;
  right: 0;
  top: 0;
  // Margin: (16/2) / 860
  margin: 37px 0.9009009% 0;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* Width: (21n + 16(n-1)) / 888 = 95 / 888, n=4 */
  width: 14.8648649%;
}

// CHAT LOG
//----------------------------------------------------
.chat-log {
  background-color: $chat-background;
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.4em 0 1em;
}

// MESSAGES
//----------------------------------------------------
.chat-log li {
  @include grid-row;
  overflow-y: auto;
  padding: 1em 0 0.3em;
  position: relative;
  word-wrap: break-word;

  &.system-notice {
    padding: 0.2em 0;
  }

  // Show consecutive messages from the same chatter closer together and
  // hide the chatter's name in consecutive messages.
  &.consecutive {
    padding: 0.2em 0;

    .chatter {
      opacity: 0;
    }
  }

  &.action.consecutive {
    padding: 1em 0 0.3em;
    .chatter {
      opacity: 1;
    }
  }

  // Make the .message-time visible when the mouse hovers the containing li.
  &:hover .message-time {
    opacity: 1;
  }

  &.self .chatter {
    color: $blue;
  }

  // Call out messages from Shep with a golden font color and a brighter
  // background.
  &.shep {
    background: $shep-background;

    .chatter {
      color: $shep-name;
    }
  }

  &.system-notice,
  &.previous-message {
    background-color: desaturate($chat-background, 10%);
    color: gray;
    font-style: italic;
  }
}

// Timestamps are aligned along the right side of .chat-log and are transparent
// until fading in and out
.message-time {
  background-color: transparentize($black,0.5);
  color: $chat-background;
  display: block;
  font-size: ms(1, $alt-size, $golden);
  font-style: normal;
  line-height: ms(1, $alt-size, $golden);
  opacity: 0;
  padding: 0.2em 0.3em 0.15em;
  position: absolute;
  right: 16%;
  -moz-transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.chatter,
.message,
.system-message,
.action-message {
  display: block;
}

div.chatter {
  float: left;
  font-size: 110%;
  line-height: 110%;
  margin: 0 0.9009009%;
  width: 19.0315315%;
  font-weight: bold;
  overflow: hidden;
  text-align: right;
}

span.chatter {
  display: inline;
  width: auto;
}

.message,
.system-message {
  float: left;
  margin: 0 0.9009009%;
  padding-right: 10.6981982%;
  /* n=18 (21*n+16*(n-1)) / 888 */
  width: 73.1982%;
}

.system-message,
.action-message {
  @include grid-offset(5);
}

.action {
  font-style: italic;
}

// NEW MESSAGE
//____________________________________________________
#new-message {
  @include grid-column(24);
  background-color: lighten($chat-background, 1%);
  border-top: 2px solid $divider-dark-gray;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.new-message-input {
  @include grid-column(18);
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
  box-shadow: inset 0 0 8px rgba(0,0,0,0.4);
  background-color: #efefef;

  &:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    border: 1px solid blue;
  }
}

.chat-name {
  background: transparent url('http://shep.info.s3.amazonaws.com/140.png') right center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0.25em 1.3em 0.25em 0.5em;
  resize: none;
  text-align: right;
}

.new-message-input,
.chat-name {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  border: 1px solid transparent;
  font-size: ms(2, $base-size, $golden);
  line-height: ms(3, $base-size, $golden);
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  &:focus {
    cursor: blink;
    outline: none;
  }
}

/* from http://www.alistapart.com/articles/expanding-text-areas-made-elegant/ */
.new-message-input {
  position: relative;
  border: 1px solid #888;
  background: #fff;

  textarea,
  pre {
    margin: 0;
    outline: 0;
    border: 0;
    padding: 0.5em;
    background: transparent;
    font: 400 13px/16px "source code pro", monospace;
    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  textarea {
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px;
  }
  &.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
  }
  & > pre {
    display: none;
  }
  &.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
  }
}