// RULES
// 1. Use dashed-compound-words.
// 2. Inception Rule: Do not nest further than 3 levels.
// 3. Keep IDs at top level as much as possible.
// 4. Use descriptive state-based classes.
// 5. List elements first and id and class selectors after.
// 6. Organize id and class selectors according to position in page.

// 370 / 10 = 37
$column-width: 21px;
$gutter-width: 16px;

/* RESET
_____________________________________________________________________________*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body, div, p, h1, h2, h3, h4, h5, h6, pre, img, ol, ul, li, form, fieldset,
label, table, article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END RESET
_____________________________________________________________________________*/

@import 'modular-scale';
@import 'grid';

$black: rgba(0,0,0,1);
$gold: rgba(255,180,0,1);
$blue: rgba(17, 13, 245, 1);
$bright-blue: rgba(0,110,214,1);

$divider-dark-gray: rgb(219, 215, 212);
$white: rgb(255, 255, 255);
$red: rgba(240,53,40,1);

$toolbar-chat-background: rgb(139, 211, 245);

$chat-background: rgba(245, 248, 255,1);
$highlight-yellow: rgb(255, 238, 195);
$shep-background: rgba(95, 206, 237, 0.3);
$shep-name: rgb(219, 140, 61);

/* Calendar colors */
$event-color: rgba(147, 32, 214, 1);

// FONTS
//----------------------------------------------------
.tk-colaborate {
}

.tk-museo-sans {
}

.pictos {
  font-family: "Pictos";
}

$main-font: "myriad-pro", "Helvetica Neue", "Helvetica", sans-serif;
$header-font: "colaborate", "Helvetica Neue", "Helvetica", sans-serif;

$base-size: 10px 350px;
$alt-size: 8px 320px;


$base: 18px 150px;

body {
  font-family: $main-font;
  font-size: ms(1, $base-size, $golden);
  line-height: ms(2, $base-size, $golden);
  background-color: rgb(255,255,255);
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

h1 {
  font-size: ms(8, $base-size, $golden);
  font-weight: 600;
  line-height: ms(9, $base-size, $golden);
}

h2 {
  font-size: ms(5, $base-size, $golden);
  font-weight: 600;
  line-height: ms(6, $base-size, $golden);
  margin: 0.5em 0;
}

h3 {
  font-size: ms(4, $base-size, $golden);
  line-height: ms(5, $base-size, $golden);
}

h4 {
  font-size: ms(3, $base-size, $golden);
  font-weight: 600;
  line-height: ms(4, $base-size, $golden);
  margin: 0.5em 0;
}

a {
  color: $bright-blue;
}

#wrapper {
  @include grid-page(34);
  font-size: modular-scale(2, $base-size, $golden);
  line-height: modular-scale(3, $base-size, $golden);
  font-family: $main-font;
  clear: both;
  overflow: auto;
}

// MENU WINDOW aka the Left Side of the site.
//----------------------------------------------------
#menu-window {
  @include grid-column(8);
  max-height: 100%;
  overflow-y: scroll;
  padding-top: 16px;
  position: relative;
}

#heading {
  background-image: url('/images/banner.png');
  background-position: left top;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  height: 6em;
  padding-left: grid-width(5, $gutter-width);
  padding-top: 0;
  position: relative;
}

.feedback-button {
  height: 24px;
  margin: 4px 0;
}

.feedback-button:hover {
  color: $bright-blue;
  cursor: pointer;
}

.feedback-send {
  clear: both;
  display: block;
}

#feedback {
  position: relative;

  label {
    clear: both;
    display: block;
    font-size: ms(1, $base-size, $golden);
  }
}

// INTRODUCTION BOX
//____________________________________________________
.introduction {
  margin: 1em 0;

  p {
    font-size: ms(2, $alt-size, $golden);
    line-height: ms(3, $alt-size, $golden);
    margin: 0.5em 0 0.6em;
  }
}

#tips {
  background-color: $highlight-yellow;
  font-size: ms(1, $base-size, $golden);
  line-height: ms(1, $base-size, $golden);
  padding: 0.75em 1.5em;
}

#footer {
  bottom: 0;
  color: $divider-dark-gray;
  font-size: ms(1, $alt-size, $golden);
  line-height: ms(1, $alt-size, $golden);
  padding: 1em 0;
  position: absolute;

  a {
    color: $divider-dark-gray;
  }
}

.icon {
  display: inline;
}

@import 'chats';
@import 'ui';

/* CHAT WINDOW
_____________________________________________________________________________*/
#chat-window {
  font-family: "source code pro", "Menlo", "Monaco", monospace;
  font-size: 75%;
  color: #000;
  line-height: 1.6em;
  vertical-align: baseline;
}