// RULES
// 1. Use dashed-compound-words.
// 2. Inception Rule: Do not nest further than 3 levels.
// 3. Keep IDs at top level as much as possible.
// 4. Use descriptive state-based classes.
// 5. List native elements first and classes after.
// 6. DRY: Colors and snippets used more than once should be mixins.
// 7. Use comments with lines of underscores to column 55.

$column-width: 7%;
$gutter-width: 1.33333333333333333333333333%;
@import 'colaborate';
@import 'util';
@import 'reset';
@import 'modular-scale';
@import 'grid';

$black: rgba(0,0,0,1);
$gold: rgba(255,180,0,1);
$blue: rgba(17, 13, 245, 1);
$divider-dark-gray: rgb(219, 215, 212);

$toolbar-chat-background: rgb(139, 211, 245);

$chat-background: rgba(245, 248, 255,1);
$shep-background: rgb(255, 238, 195);
$shep-name: rgb(224, 169, 20);

/* Calendar colors */
$event-color: rgba(147, 32, 214, 1);

.pictos {
  font-family: "Pictos";
}

$base-size: 10px 350px;
$alt-size: 8px 320px;

$main-font: "Helvetica";
$header-font: "ColaborateLightRegular", "Lucida Grande", sans-serif;
$header-bold: "ColaborateMediumRegular", "Lucida Grande", sans-serif;

$base: 18px 150px;

body {
  font-family: "Myriad Pro";
  font-size: ms(1, $base-size, $golden);
  line-height: ms(2, $base-size, $golden);
  background-color: rgb(242, 242, 242);
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

h2 {
  font-family: $header-bold;
  font-size: ms(5, $base-size, $golden);
  line-height: ms(6, $base-size, $golden);
  margin: 0.5em 0;
}

#wrapper {
  @include grid-page(12);
  @include grid-row(true);
  font-size: modular-scale(2, $base-size, $golden);
  line-height: modular-scale(3, $base-size, $golden);
  font-family: $main-font;
  clear: both;
  overflow: auto;
  min-width: 960px;
}

#header {
  @include grid-page(12);
  background-color: black;
  clear: both;
  color: rgb(255,255,255);
  margin: 0 auto;
  overflow: auto;
  position: relative;
  
  h1 {
    @include grid-column(2);
    font-family: 'Colaborate-Medium', $header-font;
    font-size: modular-scale(3, $base-size, $golden);
    line-height: modular-scale(4, $base-size, $golden);
  }
  
  #feedback {
    @include grid-column(2);
    @include grid-offset(4);
    float: right;
    position: relative;
    text-align: right;
    
    #feedback-button:hover {
      color: rgba(0,110,214,1);
      cursor: pointer;
    }
    
    .feedback-form {
      position: absolute;
      z-index: 10;
    }
  }
}

#toolbars {
  clear: both;
  font-size: modular-scale(2, $alt-size, $golden);
  line-height: modular-scale(2, $base-size, $golden);
  overflow-y: auto;
}

@import 'toolbars';

#content {
  clear: both;
}

@import 'chats';
@import 'events';

.date-time {
  @include mono-font;
  color: lighten($black, 88%);
  font-size: modular-scale(2, $alt-size, $golden);
  line-height: modular-scale(3, $alt-size, $golden);
}


// INTRODUCTION BOX
//____________________________________________________
.introduction {
  background-color: $shep-background;
  margin: 0;
  padding: 0.75em 1.5em;
  @include box-sizing;
  
  p {
    font-size: ms(2, $alt-size, $golden);
    line-height: ms(3, $alt-size, $golden);
    margin: 0 0 1em;
  }
}