// RULES
// 1. Use dashed-compound-words.
// 2. Inception Rule: Do not nest further than 3 levels.
// 3. Keep IDs at top level as much as possible.
// 4. Use descriptive state-based classes.
// 5. List native elements first and classes after.
// 6. DRY: Colors and snippets used more than once should be mixins.
// 7. Use comments with lines of underscores to column 55.

$column-width: 78px;
$gutter-width: 18px;
@import 'util';
@import 'reset';
@import 'modular-scale';
@import 'grid';

$black: rgba(0,0,0,1);
$gold: rgba(255,180,0,1);
$blue: rgba(17, 13, 255, 1);

/* Calendar colors */
$event-color: rgba(147, 32, 214, 1);

.pictos {
  font-family: "Pictos";
}

$base-size: 10px 350px;
$alt-size: 8px 40px;

$main-font: "Helvetica";
$header-font: "Colaborate-Light";

$base: 18px 150px;

body {
  font-family: "Myriad Pro";
  font-size: ms(1, $base, $golden);
  line-height: ms(2, $base, $golden);
  background-color: rgb(210,210,210);
  margin: 0 auto;
}

#wrapper {
  @include grid-page(12);
  font-size: modular-scale(2, $base-size, $golden);
  line-height: modular-scale(3, $base-size, $golden);
  font-family: $main-font;
}

header {
  font-family: 'Menlo', $header-font;
  font-size: modular-scale(3, $base-size, $golden);
  line-height: modular-scale(4, $base-size, $golden);
  @include grid-row(true);
  @include grid-column(12);
}

#content {
  @include grid-row(true);
}

#chat-window {
  @include grid-column(7);
  font-size: modular-scale(1, $base-size, $golden);
  line-height: modular-scale(2, $base-size, $golden);
  color: #000;
  position: relative;
  -webkit-box-shadow: inset 0 8px 5px rgba(0,0,0,1);

  #new-message {
    textarea {
      width: 100%;
    }
  }
}

#chat-log {
  background-color: rgba(244,244,244,1);
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;

  li {
    border-bottom: 1px solid rgba(200, 200, 200, 1);
    -webkit-box-shadow: 0 1px 2px rgba(255,255,255,1), 0 0px 1px rgba(80,80,80,0.1);
    overflow-y: auto;
    padding: 0.4em 0;
    position: relative;
    @include grid-row;

    .date-time {
      background-color: transparentize($black,0.5);
      @include border-radius(4px);
      display: block;
      float: right;
      padding: 0.1em;
      position: absolute;
      right: 1em;
      visibility: hidden;
    }
    
    &:hover .date-time {
      visibility: visible;
    }

    &.me .chatter {
      color: $blue;
    }

    &.shep {


      .chatter {
        color: darken($gold, 10%);
      }
      .message {
        color: lighten($black, 40%);
      }
    }

  }

  .chatter,
  .message {
    display: block;
    -webkit-box-sizing: border-box;
  }

  .chatter {
    @include grid-column(1);
    font-weight: bold;
    overflow-x: hidden;
    text-align: right;
  }

  .message {
    @include grid-column(6);
  }
}

#event-window {
  @include grid-column(5);
  position: relative;
}

#event-filters {
  @include grid-row;
  @include header-font;
  font-size: modular-scale(2, $base-size, $golden);
  line-height: modular-scale(2, $base-size, $golden);
  display: block;
  -webkit-box-sizing: border-box;
  height: modular-scale(3, $base-size, $golden);
  margin: 0 auto 0.2em;
  text-align: center;

  li {
    background-color: $gold;
    color: #000;
    display: inline;
    padding: 0.2em 0.7em;
  }
}

#event-feed {
  font-family: $header-font;
  color: #000;
  background-color: rgba(0,0,0,0.3);

  li {
    background-color: rgba(244,244,244,1);
    margin: 0 0;
    overflow-y: auto;
    padding: 0.8em 0.8em;

    -webkit-box-shadow: inset 0 1px 2px rgba(244, 244, 244, 0.25), inset 0px -1px 2px rgba(12, 12, 12, 0.25);
  }
  
  .more,
  .less {
    float: right;
    margin-right: -0.8em;
    text-shadow: 0 1px 1px rgba(244, 244, 244, 0.4), 0 -1px 1px rgba(12, 12, 12, 0.35);
    color: rgba(40, 40, 40, 1);
  
    &:hover {
      cursor: pointer;
    }
  }

  .details {
    display: none;
  }

  .calendar-link {
    color: rgba(0,0,0, 0.3);
    float: right;
    text-decoration: none;
    
    &:hover {
      color: rgba(0,0,0,1);
    }
  }

  // EVENT CATEGORIES
  //__________________________________________________
  
  // DriveBy, Theory Club, Softlab, Rare Groove
  .group, li:nth-child(5n)        { background-color: rgba(0,110,214,0.7); }
  // Product orders
  .order, li:nth-child(5n+1)      { background-color: rgba(240,53,40,0.7); }
  // Not at ITP
  .outside, li:nth-child(5n+2)    { background-color: rgba(214,186,0,0.7); }
  // Things posted by the residents
  .residents, li:nth-child(5n+3)  { background-color: rgba(0,191,33,0.7); }
  // Talks, Announce-list Events
  .school, li:nth-child(5n+4)     { background-color: rgba(158,2,204,0.7); }
}

.date-time {
  @include mono-font;
  color: lighten($black, 88%);
  font-size: modular-scale(2, $alt-size, $golden);
  line-height: modular-scale(3, $alt-size, $golden);
}